use_xft yes
xftfont Fixed:size=9
# 959e8b background
# 4c1e54 PURPLE
# 86837f PURPLE 20%
# df0451 RED
# a37e7e RED 20%

update_interval 0.05

default_color STRONG-COLOR
background no

own_window yes
own_window_class Conky
own_window_type override
own_window_colour BACKGROUND-COLOR
double_buffer yes

alignment top_left
gap_x 10
gap_y 5

draw_borders no
draw_graph_borders no

show_graph_scale yes

minimum_size 3820
maximum_size 3820

TEXT
${alignc}${font Charter:bold:size=16}${time %R}
${alignc}${font Charter:size=16}${color}${time %A %d/%m/%y}${font}

${font Fixed:bold:size=10}      RAM ${memperc}%${alignr}${color BRIGHT-COLOR}CPU ${cpu}%   ${hwmon 1 temp 1}°C   ${font}
${color} ${top_mem name 1} ${top_mem mem 1}${alignr}${color BRIGHT-COLOR}${top name 1} ${top cpu 1}
${color} ${top_mem name 2} ${top_mem mem 2}${alignr}${color BRIGHT-COLOR}${top name 2} ${top cpu 2}
${color} ${top_mem name 3} ${top_mem mem 3}${alignr}${color BRIGHT-COLOR}${top name 3} ${top cpu 3}
${cpugraph 150,3820 BACKGROUND-COLOR BRIGHT-COLOR -t}
${memgraph 150,3820 BACKGROUND-COLOR STRONG-COLOR -t}
