font xft:Fixed Semi-Condensed 18
#font pango:DejaVu Sans Mono Book 16

# use Mouse+Mod4 to drag floating windows to their wanted position
floating_modifier Mod4

bindsym Mod4+Control+h exec thunar
bindsym Mod4+Control+j exec xfce4-terminal
bindsym Mod4+Control+k exec /opt/sublime_text/sublime_text
bindsym Mod4+Control+l exec virt-manager

bindsym Mod4+Control+o exec google-chrome
bindsym Mod4+Control+i exec icedove
bindsym Mod4+Control+u exec xfce4-taskmanager

bindsym Mod4+Control+a exec gimp
bindsym Mod4+Control+s exec inkscape
bindsym Mod4+Control+d exec darktable

bindsym Mod4+Control+q kill

# start dmenu (a program launcher)
bindsym Mod4+r exec dmenu_run
bindsym Mod4+e exec --no-startup-id i3-dmenu-desktop

# change focus
# alternatively, you can use the cursor keys:
bindsym Mod4+Left focus left
bindsym Mod4+Down focus down
bindsym Mod4+Up focus up
bindsym Mod4+Right focus right

# move focused window
# alternatively, you can use the cursor keys:
bindsym Mod4+Shift+Left move left
bindsym Mod4+Shift+Down move down
bindsym Mod4+Shift+Up move up
bindsym Mod4+Shift+Right move right

bindsym Mod4+Control+z split v

bindsym Mod4+f fullscreen

bindsym Mod4+z layout tabbed
bindsym Mod4+x layout toggle split

bindsym Mod4+Shift+space floating toggle
bindsym Mod4+space focus mode_toggle

bindsym Mod4+a focus parent
#bindsym Mod4+d focus child

bindsym Mod4+1 workspace 01
bindsym Mod4+2 workspace 02
bindsym Mod4+3 workspace 03
bindsym Mod4+4 workspace 04
bindsym Mod4+5 workspace 05
bindsym Mod4+6 workspace 06
bindsym Mod4+7 workspace 07
bindsym Mod4+8 workspace 08
bindsym Mod4+9 workspace 09
bindsym Mod4+0 workspace 10

bindsym Mod4+Shift+1 move container to workspace 01; workspace 01
bindsym Mod4+Shift+2 move container to workspace 02; workspace 02
bindsym Mod4+Shift+3 move container to workspace 03; workspace 03
bindsym Mod4+Shift+4 move container to workspace 04; workspace 04
bindsym Mod4+Shift+5 move container to workspace 05; workspace 05
bindsym Mod4+Shift+6 move container to workspace 06; workspace 06
bindsym Mod4+Shift+7 move container to workspace 07; workspace 07
bindsym Mod4+Shift+8 move container to workspace 08; workspace 08
bindsym Mod4+Shift+9 move container to workspace 09; workspace 09
bindsym Mod4+Shift+0 move container to workspace 10; workspace 10

bindsym Mod4+Control+r restart

bindsym Mod4+Control+Left        resize shrink width 5 px
bindsym Mod4+Control+Up          resize shrink height 5 px
bindsym Mod4+Control+Down        resize grow height 5 px
bindsym Mod4+Control+Right       resize grow width 5 px

new_window normal 2
hide_edge_borders both

for_window [class="Xfce4-panel"] floating enable

# focus_on_window_activation urgent

# BACKGROUND-COLOR background
# STRONG-COLOR STRONG COLOR
# STRONG-COLOR2 S.C. 20%
# BRIGHT-COLOR BRIGHT COLOR
# BRIGHT-COLOR2 B.C. 20%

# class                 border  backgr. text    indicator child_border
client.focused          #STRONG-COLOR2 #STRONG-COLOR #ffffff #BACKGROUND-COLOR   #STRONG-COLOR
client.focused_inactive #949d8a #BACKGROUND-COLOR #ffffff #484e50   #949d8a
client.unfocused        #949d8a #BACKGROUND-COLOR #333333 #292d2e   #949d8a
client.urgent           #BRIGHT-COLOR2 #BRIGHT-COLOR #BACKGROUND-COLOR #BRIGHT-COLOR   #BRIGHT-COLOR2

client.background       #ffffff

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
	status_command i3status	--config /home/caio/.i3/i3status.conf
	position top
	mode hide

	colors {
		background #BACKGROUND-COLOR
		separator #STRONG-COLOR
		statusline #ffffff

		focused_workspace #STRONG-COLOR2 #STRONG-COLOR #ffffff
	}
}

#######################################################################
# automatically start i3-config-wizard to offer the user to create a
# keysym-based config which used his favorite modifier (alt or windows)
#
# i3-config-wizard will not launch if there already is a config file
# in ~/.i3/config.
#
# Please remove the following exec line:
#######################################################################
exec i3-config-wizard
