set $exit "Exit: Loc[k], [L]ogout, [R]eboot, [S]hutdown"

mode $exit {
    bindsym k exec --no-startup-id swaylock
    bindsym l exec --no-startup-id swaymsg exit
    bindsym r exec systemctl reboot
    bindsym s exec systemctl shutdown

    bindsym Escape mode "default"
    bindsym Return mode "default"
}

bindsym $internal+Pause mode $exit
