set $workspace "workspace $(swaymsg -t get_outputs -r | jq '.[] | select(.focused) | .id' -r)"

# Switch to workspace
bindsym $mod+1 exec swaymsg $workspace01
bindsym $mod+2 exec swaymsg $workspace02
bindsym $mod+3 exec swaymsg $workspace03
bindsym $mod+4 exec swaymsg $workspace04
bindsym $mod+5 exec swaymsg $workspace05
bindsym $mod+6 exec swaymsg $workspace06
bindsym $mod+7 exec swaymsg $workspace07
bindsym $mod+8 exec swaymsg $workspace08
bindsym $mod+9 exec swaymsg $workspace09
bindsym $mod+0 exec swaymsg $workspace10

# Move focused container to workspace
bindsym $internal+1 exec swaymsg move container to $workspace01
bindsym $internal+2 exec swaymsg move container to $workspace02
bindsym $internal+3 exec swaymsg move container to $workspace03
bindsym $internal+4 exec swaymsg move container to $workspace04
bindsym $internal+5 exec swaymsg move container to $workspace05
bindsym $internal+6 exec swaymsg move container to $workspace06
bindsym $internal+7 exec swaymsg move container to $workspace07
bindsym $internal+8 exec swaymsg move container to $workspace08
bindsym $internal+9 exec swaymsg move container to $workspace09
bindsym $internal+0 exec swaymsg move container to $workspace10
