set $workspace "workspace $(swaymsg -t get_outputs -r | jq '.[] | select(.focused) | .id' -r)"

# Switch to workspace
bindsym $mod+1 exec swaymsg $workspace:01
bindsym $mod+2 exec swaymsg $workspace:02
bindsym $mod+3 exec swaymsg $workspace:03
bindsym $mod+4 exec swaymsg $workspace:04
bindsym $mod+5 exec swaymsg $workspace:05
bindsym $mod+6 exec swaymsg $workspace:06
bindsym $mod+7 exec swaymsg $workspace:07
bindsym $mod+8 exec swaymsg $workspace:08
bindsym $mod+9 exec swaymsg $workspace:09
bindsym $mod+0 exec swaymsg $workspace:10

# Move focused container to workspace
bindsym $internal+1 exec swaymsg move container to $workspace:01
bindsym $internal+2 exec swaymsg move container to $workspace:02
bindsym $internal+3 exec swaymsg move container to $workspace:03
bindsym $internal+4 exec swaymsg move container to $workspace:04
bindsym $internal+5 exec swaymsg move container to $workspace:05
bindsym $internal+6 exec swaymsg move container to $workspace:06
bindsym $internal+7 exec swaymsg move container to $workspace:07
bindsym $internal+8 exec swaymsg move container to $workspace:08
bindsym $internal+9 exec swaymsg move container to $workspace:09
bindsym $internal+0 exec swaymsg move container to $workspace:10
