bindsym $start+j exec foot
bindsym   $alt+j exec dosbox ~/Documents/DOS/C

bindsym $start+k exec /opt/sublime_text/sublime_text
bindsym   $alt+k exec code

bindsym $start+l exec steam
bindsym   $alt+l exec cockatrice

bindsym $start+o exec opera
bindsym   $alt+o exec firefox

bindsym $start+i exec thunderbird
bindsym   $alt+i exec discord

bindsym $start+a exec gimp
bindsym   $alt+a exec darktable

bindsym $start+s exec inkscape
bindsym   $alt+s exec atril

bindsym $start+u exec thunar
bindsym   $alt+u exec xfce4-taskmanager

bindsym $start+f exec spotify

bindsym $start+m exec virt-manager
bindsym   $alt+m exec remmina

# printscreen
bindsym Print exec xfce4-screenshooter
