mode "resize" {
    bindsym h resize shrink width  10px
    bindsym j resize shrink height 10px
    bindsym k resize grow   height 10px
    bindsym l resize grow   width  10px

    bindsym Left  resize shrink width  10px
    bindsym Down  resize shrink height 10px
    bindsym Up    resize grow   height 10px
    bindsym Right resize grow   width  10px

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym $internal+w mode "resize"
