# class                 border      background  text    indicator   child_border
client.focused          #86837f     $secondary  $white  $background $secondary
client.focused_inactive $background $background $white  #4d4d4d     $background
client.unfocused        $background $background $gray   #2d2d2d     $background
client.urgent           #a37e7e     $primary    $white  $primary    #a37e7e

client.background       $background
