output * {
    background ~/.config/sway/background.png fill
    dpms on
}

## Desktop
# output DP-2 {
#     mode 3840x2160@60Hz
#     position 0,0
#     transform 270
#     adaptive_sync on
# #    scale 2
# }
# 
# output HDMI-A-3 {
#     mode 1920x1080@60Hz
#     position 2160,2760
# }

## Laptop 
output eDP-1 {
    position 0,0
}

output HDMI-A-1 {
    mode 3840x2160@60Hz
    position 1366,0
    transform 270
    adaptive_sync on
#    scale 2
}

