conky.config = {
  use_xft = true,
  font = 'Fixed:size=5',
-- 959e8b background
-- 4c1e54 PURPLE
-- 86837f PURPLE 20%
-- df0451 RED
-- a37e7e RED 20%

    update_interval = 0.02,

    default_color = '#4c1e54',
    background = false,

    own_window = true,
    own_window_class = 'Conky',
    own_window_type = 'override',
    own_window_transparent = true,
    double_buffer = true,
    draw_shades = false,

	default_bar_width = 0, default_bar_height = 20,

	alignment = 'top_left',
	gap_x = 265,
	gap_y = 20,

	draw_borders = false,
	draw_graph_borders = false,

	show_graph_scale = true,
    graph_gradient_mode = 'hcl',
};

conky.text = [[
${cpugraph 215,1895 959e8b df0451 -t}
${memgraph 215,1895 959e8b df0451 }
]];
