font xft:Fixed Semi-Condensed 18
#font pango:DejaVu Sans Mono Book 16

focus_follows_mouse yes

# use Mouse+Mod4 to drag floating windows to their wanted position
floating_modifier Mod4

# start applications
bindsym Mod4+Control+j exec xterm
bindsym Mod4+Control+k exec /opt/sublime_text/sublime_text
bindsym Mod4+Control+l exec rocketchat-desktop

bindsym Mod4+Control+o exec opera
bindsym Mod4+Control+i exec thunderbird
bindsym Mod4+Control+u exec thunar
bindsym Mod4+Control+y exec xfce4-taskmanager

bindsym Mod4+Control+a exec gimp
bindsym Mod4+Control+s exec inkscape
bindsym Mod4+Control+d exec darktable
bindsym Mod4+Control+f exec spotify

bindsym Mod4+Control+x exec steam
bindsym Mod4+Control+c exec discord

bindsym Mod4+Mod1++o exec firefox
bindsym Mod4+Mod1++d exec dosbox ~/Documents/DOS/C
bindsym Mod4+Mod1++c exec cockatrice

bindsym Mod4+Control+m exec virt-manager
bindsym Mod4+Control+n exec remmina

# printscreen
bindsym Print exec xfce4-screenshooter

# pulseaudio
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume 0 +5%
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume 0 -5%
bindsym XF86AudioMute        exec --no-startup-id pactl set-sink-mute 0 toggle

# Media player controls
bindsym XF86AudioPlay  exec playerctl -a play-pause
bindsym XF86AudioStop  exec playerctl -a stop
bindsym XF86AudioNext  exec playerctl -a next
bindsym XF86AudioPrev  exec playerctl -a previous

# kill
bindsym Mod4+Control+q kill

# vm io
bindsym Mod4+Control+F12 exec /home/caio/bin/pilot-xwing right
bindsym Mod4+Control+F11 exec /home/caio/bin/pilot-tiefighter right
bindsym Mod4+Control+F10 exec /home/caio/bin/pilot-tiefighter left

bindsym Mod4+Control+F9 exec /home/caio/bin/back-home

# start dmenu (a program launcher)
bindsym Mod4+r exec dmenu_run
bindsym Mod4+e exec --no-startup-id i3-dmenu-desktop

# change focus
# alternatively, you can use the cursor keys:
bindsym Mod4+Left focus left
bindsym Mod4+Down focus down
bindsym Mod4+Up focus up
bindsym Mod4+Right focus right

# move focused window
# alternatively, you can use the cursor keys:
bindsym Mod4+Shift+Left move left
bindsym Mod4+Shift+Down move down
bindsym Mod4+Shift+Up move up
bindsym Mod4+Shift+Right move right

# fullscreen
bindsym Mod4+f fullscreen

# layout
bindsym Mod4+c split v
bindsym Mod4+z layout tabbed
bindsym Mod4+x layout toggle split

# floating
bindsym Mod4+Shift+space floating toggle
bindsym Mod4+space focus mode_toggle

bindsym Mod4+a focus parent

# workspaces
bindsym Mod4+1 workspace 01
bindsym Mod4+2 workspace 02
bindsym Mod4+3 workspace 03
bindsym Mod4+4 workspace 04
bindsym Mod4+5 workspace 05
bindsym Mod4+6 workspace 06
bindsym Mod4+7 workspace 07
bindsym Mod4+8 workspace 08
bindsym Mod4+9 workspace 09
bindsym Mod4+0 workspace 10

bindsym Mod4+Shift+1 move container to workspace 01; workspace 01
bindsym Mod4+Shift+2 move container to workspace 02; workspace 02
bindsym Mod4+Shift+3 move container to workspace 03; workspace 03
bindsym Mod4+Shift+4 move container to workspace 04; workspace 04
bindsym Mod4+Shift+5 move container to workspace 05; workspace 05
bindsym Mod4+Shift+6 move container to workspace 06; workspace 06
bindsym Mod4+Shift+7 move container to workspace 07; workspace 07
bindsym Mod4+Shift+8 move container to workspace 08; workspace 08
bindsym Mod4+Shift+9 move container to workspace 09; workspace 09
bindsym Mod4+Shift+0 move container to workspace 10; workspace 10

# restart i3
bindsym Mod4+Control+r restart

# window size
bindsym Mod4+Control+Left        resize shrink width 5 px
bindsym Mod4+Control+Up          resize grow height 5 px
bindsym Mod4+Control+Down        resize shrink height 5 px
bindsym Mod4+Control+Right       resize grow width 5 px

new_window normal 2
hide_edge_borders both

for_window [class="Xfce4-panel"] floating enable
for_window [class="Wine"] border normal
for_window [class="Opera"] border normal

# focus_on_window_activation urgent

# 959e8b background
# 4c1e54 PURPLE
# 86837f PURPLE 20%
# df0451 RED
# a37e7e RED 20%

# class                 border  backgr. text    indicator child_border
client.focused          #86837f #4c1e54 #ffffff #959e8b   #4c1e54
client.focused_inactive #959e8b #959e8b #ffffff #4d4d4d   #959e8b
client.unfocused        #959e8b #959e8b #333333 #2d2d2d   #959e8b
client.urgent           #a37e7e #df0451 #959e8b #df0451   #a37e7e

client.background       #ffffff

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
	status_command i3status	--config /home/caio/.i3/zergian/i3status.conf
	position top
	mode hide

	colors {
		background #959e8b
		separator #4c1e54
		statusline #ffffff

		focused_workspace #86837f #4c1e54 #ffffff
	}
}

exec conky -d -c ~/.i3/zergian/conky.config
exec xset dpms 300 300 3600
#exec bash ~/.screenlayout/xrandr.sh
exec pulseaudio --start
exec feh --bg-fill ~/.i3/zergian/background.png
