conky.config = {
  use_xft = true,
  font = 'Fixed:pixelsize=14',
  font1 = 'Fixed:bold:pixelsize=14',
  font2 = 'Fixed:bold:pixelsize=16',
  font3 = 'Fixed:pixelsize=16',
-- 959e8b background
-- 4c1e54 PURPLE
-- 86837f PURPLE 20%
-- df0451 RED
-- a37e7e RED 20%


	update_interval = 0.1,

	default_color = '#4c1e54',
	background = false,

	own_window = true,
	own_window_class = 'Conky',
	own_window_type = 'override',
	own_window_transparent = true,
	double_buffer = true,
	draw_shades = false,

	default_bar_width = 0, default_bar_height = 20,

	alignment = 'top_left',
	gap_x = 10,
	gap_y = 10,

	draw_borders = false,
	draw_graph_borders = false,

	show_graph_scale = true,
};

conky.text = [[
${font1}${color df0451}CPU${if_match ${cpu} < 100} ${if_match ${cpu} < 10} ${endif}${endif} ${cpu}% ${cpubar 13,97}${font}${color}
${top name 1} ${top cpu 1}
${top name 2} ${top cpu 2}
${top name 3} ${top cpu 3}
${top name 4} ${top cpu 4}
${top name 5} ${top cpu 5}
${top name 6} ${top cpu 6}
${top name 7} ${top cpu 7}
${top name 8} ${top cpu 8}
${color df0451}${hr 2}
${font1}${color df0451}RAM${if_match ${memperc} < 100} ${if_match ${memperc} < 10} ${endif}${endif} ${memperc}% ${membar 13,97}${font}${color}
${top_mem name 1} ${top_mem mem 1}
${top_mem name 2} ${top_mem mem 2}
${top_mem name 3} ${top_mem mem 3}
${top_mem name 4} ${top_mem mem 4}
${top_mem name 5} ${top_mem mem 5}
${top_mem name 6} ${top_mem mem 6}
${top_mem name 7} ${top_mem mem 7}
${top_mem name 8} ${top_mem mem 8}
${color df0451}${hr 2}${color}
${font2}CPU ${hwmon 1 temp 1}°C${alignr}GPU ${execi 1 nvidia-smi --query-gpu=temperature.gpu --format=csv,noheader}°C
${font}${alignc}CPU @ ${freq_g} GHz
${color df0451}${hr 2}${color}
${alignc}${font3}Since ${uptime}
${color df0451}${hr 2}${color}
${alignc}${font Fixed:bold:pixelsize=16}${time %A %d/%m/%y}${font}
${alignc}${font Berenis ADF Pro:bold:size=53}${time %R}${font}
]];
